rootfs
toolchain
linux/linux*.tar.gz
linux/linux*/
u-boot/u-boot*tar.bz2
u-boot/u-boot*/
deploy/MLO
deploy/u-boot.img
deploy/am335x-pocketbeagle.dtb
deploy/zImage
deploy/lib/
deploy/modules.tar.gz
.vagrant
